{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ARCANO</title>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/bootstrap.min.css' %}">

<!-- STYLE -->
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/style.css' %}">

<!-- RESPONSIVE -->
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/responsive.css' %}">

<!-- SCROLLBAR -->
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/jquery.mCustomScrollbar.min.css' %}">

<!-- OWL -->
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'plantilla/Profusion-1.0.0/css/owl.theme.default.min.css' %}">

<!-- iziToast -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
<!-- FONT AWESOME -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">

<!-- DATATABLES -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- FAVICON -->
<link rel="icon" href="{% static 'plantilla/Profusion-1.0.0/images/fevicon.png' %}" type="image/png">

<style>

label.error{
color:red;
font-weight:bold;
}

input.error{
border:1px solid red;
}

.navbar-nav .nav-link {
padding: 15px 20px !important;
font-size: 1.1rem;
margin: 0 5px;
border-radius: 8px;
transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
background-color: #f8f9fa;
transform: translateY(-2px);
}

</style>

</head>

<body>

<!-- HEADER -->
<div class="header_section">
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="navbar-brand" href="{% url 'home' %}">
<img src="{% static 'plantilla/Profusion-1.0.0/images/logo.png' %}" width="120">
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

<ul class="navbar-nav mr-auto">

<li class="nav-item">
<a class="nav-link" href="{% url 'home' %}">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'listado_sesiones' %}">Sesiones</a>
</li>

<li class="nav-item">
<a class="nav-link" href="{% url 'listado_fotos' %}">Fotos</a>
</li>

{% if request.session.rol == 'CLIENTE' %}
<li class="nav-item">
<a class="nav-link" href="{% url 'seleccionar_fotos' %}">Seleccionar Fotos</a>
</li>
{% endif %}

{% if request.session.rol == 'ADMIN' %}
<li class="nav-item">
<a class="nav-link" href="{% url 'listado_selecciones' %}">Selecciones</a>
</li>
{% endif %}

<li class="nav-item">
<a class="nav-link text-danger" href="{% url 'logout' %}">
Cerrar sesión <i class="fa fa-sign-out"></i>
{{ request.session.usuario_nombre }} ({{ request.session.rol }})
</a>
</li>

</ul>

<div class="form-inline">
<div class="user_icon mr-3">
<i class="fa fa-user"></i>
</div>

<div class="user_icon">
<i class="fa fa-search"></i>
</div>
</div>

</div>
</nav>

</div>
</div>


<!-- CONTENIDO DE LAS VISTAS -->
{% block body %}
{% endblock %}


<!-- FOOTER -->
<div class="footer_section margin_top90">
<div class="location_bg">
<div class="container">
<div class="location_main">

<ul>

<li>
<a href="#">
<img src="{% static 'plantilla/Profusion-1.0.0/images/map-icon.png' %}">
<span class="padding_15">Location</span>
</a>
</li>

<li>
<a href="#">
<img src="{% static 'plantilla/Profusion-1.0.0/images/call-icon.png' %}">
<span class="padding_15">Call +01 1234567890</span>
</a>
</li>

<li>
<a href="#">
<img src="{% static 'plantilla/Profusion-1.0.0/images/mail-icon.png' %}">
<span class="padding_15">demo@gmail.com</span>
</a>
</li>

</ul>

</div>
</div>
</div>
</div>


<div class="copyright_section">
<div class="container">
<p class="copyright_text">
© 2020 All Rights Reserved.
Design by <a href="https://html.design">Free html Templates</a>
</p>
</div>
</div>


<!-- JS -->

<script src="{% static 'plantilla/Profusion-1.0.0/js/jquery.min.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/popper.min.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/plugin.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/owl.carousel.js' %}"></script>

<script src="{% static 'plantilla/Profusion-1.0.0/js/custom.js' %}"></script>

<!-- iziToast -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>

<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
//<![CDATA[
// Configuración global de iziToast
iziToast.settings({
    timeout: 3000,
    resetOnHover: true,
    icon: '',
    transitionIn: 'fadeInDown',
    transitionOut: 'fadeOutUp',
    position: 'topRight',
    progressBar: true,
    close: true,
    closeOnClick: true,
    pauseOnHover: true
});

function mostrarMensajesDjango() {
    {% if messages %}
        {% for message in messages %}
            console.log('Procesando mensaje:', '{{ message.tags }}', '{{ message|safe }}');
            
            var tags = '{{ message.tags }}';
            var titleText = '';
            var bgColor = '';
            
            if (tags == "error") {
                titleText = 'Error';
                bgColor = '#f44336';
            } else if (tags == "success") {
                titleText = 'Éxito';
                bgColor = '#4caf50';
            } else if (tags == "warning") {
                titleText = 'Advertencia';
                bgColor = '#ff9800';
            } else if (tags == "info") {
                titleText = 'Información';
                bgColor = '#2196f3';
            } else {
                titleText = 'Mensaje';
                bgColor = '#607d8b';
            }
            
            // Usar la versión correcta de iziToast
            if (typeof iziToast !== 'undefined') {
                iziToast[tags]({
                    title: titleText,
                    message: '{{ message|safe }}',
                    backgroundColor: bgColor
                });
                console.log('Notificación mostrada:', tags, titleText);
            } else {
                console.error('iziToast no está definido');
            }
        {% endfor %}
    {% endif %}
}

// Ejecutar cuando el documento esté listo
$(document).ready(function() {
    console.log('Documento listo, mostrando mensajes...');
    mostrarMensajesDjango();
    
    // Inicializar todas las tablas con DataTables
    $('table').each(function() {
        if (!$(this).hasClass('no-datatables')) {
            $(this).DataTable({
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json'
                },
                pageLength: 10,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                dom: 'Bfrtip',
                buttons: [
                    'pageLength',
                    {
                        extend: 'excel',
                        text: 'Exportar Excel',
                        className: 'btn btn-success btn-sm'
                    },
                    {
                        extend: 'pdf',
                        text: 'Exportar PDF', 
                        className: 'btn btn-danger btn-sm'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        className: 'btn btn-info btn-sm'
                    }
                ]
            });
        }
    });
});
//]]>
</script>

</body>
</html>